.SeatList{
  display: flex;
  flex-wrap: wrap;
}

.SeatList li{
  width: 25%;
}

.colorlist {
  font-size: xx-large;
  width: 30rem;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.tya{
  background-color: #915f31;
}

.kimi{
 background-color: #47ae47;
}

.midori{
  background-color: #004c00;
}